button{
    text-align: center;
    text-decoration: none;
    background-color:wheat
    
}

.header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(45deg,#ccc,#fcc);

background-image:radial-gradient(#ccc,rgb(173, 101, 101)) ;
}
.profile{
    height: 500px;
    background-image: url(../او.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 500px;
    background-position: 50% 10px;
    /*border-radius: 100%;border: 10px solid #fcc;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;*/
    box-shadow: 10px 10px 30px burlywood,
                 9px 9px 9px  blue, 
                3px 3px 3px blueviolet ;   

 }   
.elahe{
    width: 100px;
    height: 200px;
    background-image: repeating-radial-gradient(#cfc,#fff 20px);
}
/*body{
    background-image: url(../او.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100px;
    background-size: 100px 200px;
}

div{
    width: 50%;
    height: 40px;
    background:rgb(225, 0,225);
}
.profile{
    background-image: url(../وایی.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10% 20px;
}*/